/**************************
1. header 헤더
1.1 header_top
1.2 header_middle
***************************/
.header {
  display: block;
  z-index: 1;
}

.header .header_wrap {
  display: flex;
  flex-direction: column;
}

.header_wrap .nav_top,
.header_wrap .nav_middle,
.header_wrap .nav_bottom {
  display: flex;
  align-items: center;
}

/* 1. header_top */
.header_wrap .nav_top {
  gap: 12px;
  padding: 10px 40px 14px;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid #c8c4c4;
}

.nav_top a {
  font-size: 0.8em;
  color: #7f7b7b;
}

/* 2. nav_middle */
.header_wrap .nav_middle {
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 40px;
}

.nav_middle h1 {
  font-weight: 800;
  font-size: 1.4em;
  color: #7f7b7b;
}

.nav_middle .research_tool {
  display: flex;
  align-items: center;
  gap: 14px;
}

.research_tool > p {
  font-weight: 800;
  color: #7f7b7b;
}

.research_tool div {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #7f7b7b;
  border-radius: 99em;
  padding: 8px 16px;
}

.research_tool div a {
  color: #7f7b7b;
  font-weight: 600;
}

.register {
  display: flex;
  gap: 10px;
}

/**************************
2. banner
2.1 background_banner
***************************/
.hotel {
  display: block;
  position: relative;
  padding: 0 40px;
}

.hotel_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.8em;
  overflow: hidden;
  position: relative;
  margin: 60px 40px 80px;
  height: 60vh;
  background-image: url("../img/hop-4828479_1280.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hotel_banner::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(35, 78, 195, 0.781);
}

.hotel_banner > div {
  display: flex;
  color: #fff;
  flex-direction: column;
  z-index: 2;
  gap: 20px;
  width: 80%;
}

.hotel_banner > div h1 {
  font-size: 2.8em;
  font-weight: 600;
  line-height: 1.2em;
}

.hotel_research {
  display: flex;
  flex-direction: column;
}

.hotel_research .hotel_research_type {
  display: flex;
  gap: 20px;
}

.research_input {
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 40px;
  border-radius: 2em;
  margin: 40px 0;
}

@media (max-width: 1000px) {
  .research_input {
    grid-template-columns: 1fr;
  }
}

.research_input > * {
  padding: 20px;
  border-radius: 1.2em;
}

.research_input .input_head {
  line-height: 1.6em;
  color: #ffffffc4;
}

.input_head h1 {
  font-size: 1.6em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}

.research_input form {
  display: grid;
  gap: 20px;
  grid-template-columns: 10fr 1fr;
}

form .form_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.research_btn_wrap {
  display: flex;
  align-items: end;
}

.research_btn_wrap .research_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 9em;
  border: none;
}

/**************************
3. Situation buttons
***************************/
.situation_btn_group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-weight: 600;
}

.situation_btn_group input[type="checkbox"] {
  display: none;
}

.situation_btn_group label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid #7f7b7b;
  border-radius: 1em;
  color: #7f7b7b;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.situation_btn_group input[type="checkbox"]:checked + label {
  color: #f26b0f;
  border-color: #f26b0f;
}

/**************************
4. Hotel List
***************************/
.hotel_list {
  margin-bottom: 4em;
}

.hotel_list_area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.img_wrap img {
  object-fit: cover;
  width: 100%;
  height: 240px;
  border-radius: 2em;
}

@media (max-width: 780px) {
  .hotel_list_area {
    grid-template-columns: 1fr;
  }
  .img_wrap img {
    height: 340px;
  }
}

.hotel_card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.hotel_card:hover {
  transform: scale(102%);
  transition: transform 0.4s ease-in-out;
}

.hotel_card .wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img_wrap {
  position: relative;
  overflow: hidden;
}

.img_wrap p {
  display: flex;
  background-color: #2b3036a1;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  top: 16px;
  right: 16px;
  border-radius: 99em;
  position: absolute;
  z-index: 3;
}

.hotel_tit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotel_tit h1 {
  display: block;
  font-size: 2em;
  font-weight: 600;
}

.hotel_tit span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1dff0;
  color: #223cd0;
  font-weight: 600;
  width: 42px;
  height: 32px;
  border-radius: 0.2em;
  font-size: 1.2em;
}

.local {
  display: flex;
  gap: 10px;
  color: #2b3036;
  margin-top: 16px;
  font-weight: 600;
}

.local p:first-child {
  color: #223cd0;
}

.hotel_info {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.total {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
}

.hotel_info h1 {
  width: 60px;
  font-weight: 600;
}

.hotel_price,
.hotel_call,
.hotel_man {
  display: flex;

  align-items: center;
}
